@charset "UTF-8";
/* line 5, ../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../Users/user/.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, sass/style.scss */
html {
  width: 100%;
  font-size: 62.5%;
  /*10px */
}

/* line 16, sass/style.scss */
body {
  font-family: "メイリオ", Meiryo,"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro",Arial,"ＭＳ Ｐゴシック","MS PGothic",Osaka,sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 22, sass/style.scss */
.tab {
  width: 500px;
  height: 36px;
  border-bottom: 1px solid #f78b93;
  background: #e4e4e4;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e4e4e4 0%, #f3f3f3 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4e4e4), color-stop(100%, #f3f3f3));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e4e4e4 0%, #f3f3f3 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e4e4e4 0%, #f3f3f3 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e4e4e4 0%, #f3f3f3 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e4e4e4 0%, #f3f3f3 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e4e4e4', endColorstr='#f3f3f3',GradientType=0 );
  /* IE6-9 */
}
/* line 35, sass/style.scss */
.tab li {
  float: left;
}
/* line 36, sass/style.scss */
.tab li.tab-bt {
  font-size: 14px;
  font-size: 1.4rem;
}
/* line 38, sass/style.scss */
.tab li.tab-bt a {
  height: 36px;
  padding: 12px 20px 0 15px;
  box-sizing: border-box;
  display: block;
}
/* line 40, sass/style.scss */
.tab li.tab-bt a:link, .tab li.tab-bt a:visited {
  color: #666;
}
/* line 41, sass/style.scss */
.tab li.tab-bt a:hover {
  color: #fff;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}
/* line 45, sass/style.scss */
.tab li.tab-bt a:hover {
  background: #f78b93;
}
/* line 46, sass/style.scss */
.tab li.active {
  background: #f78b93;
}
/* line 48, sass/style.scss */
.tab li.active a:link, .tab li.active a:visited {
  color: #fff;
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
}

/* line 54, sass/style.scss */
.tabbox {
  width: 500px;
}
/* line 57, sass/style.scss */
.tabbox .box {
  padding: 20px;
  box-sizing: border-box;
  border-bottom: 1px dotted #f78b93;
  display: none;
}

/* line 66, sass/style.scss */
.box.active {
  display: block;
}
